@page "/dashboard/{EventId:int}"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Admin,Editor,Benutzer")]

@attribute [Authorize]
@if (accessDenied)
{
    <PageTitle>Zugriff verweigert</PageTitle>
    <header>
        <h1 class="text-danger">Zugriff verweigert</h1>
        <p class="text-danger">@accessDeniedMessage</p>
    </header>
}
else
{
    <PageTitle>Dashboard</PageTitle>
    @if (_selectedEvent != null)
    {
        <div class="text-center">
            <MudText Typo="Typo.h2" style="color: #134883">Dashboard @_selectedEvent.Bezeichnung</MudText>
            <br />
        </div>
        <MudGrid Justify="Justify.Center">
            <MudItem xs="10">
                <MudTable Items="@_rankingList" Hover="true" Striped="true" Dense="true" RowsPerPage="10">
                    <HeaderContent>
                        <MudTh>Rank</MudTh>
                        <MudTh>GruppenID</MudTh>
                        <MudTh>Gruppenname</MudTh>
                        <MudTh>GruppenleiterId</MudTh>
                        <MudTh>Teilnehmertyp</MudTh>
                        <MudTh>AbgeschlosseneLevel</MudTh>
                        <MudTh>AnzahlLevel</MudTh>
                        <MudTh>GesamtFehlversuche</MudTh>
                        <MudTh>Max. benötigte Zeit (exkl. Strafminuten)</MudTh>
                        <MudTh>GebrauchteZeit (inkl. Strafminuten)</MudTh>
                    </HeaderContent>
                    <RowTemplate>
                        @{
                            var rowColor = "";
                            if (context.Rang == 1)
                            {
                                rowColor = "background-color: gold;"; // Gold for 1st place
                            }
                            else if (context.Rang == 2)
                            {
                                rowColor = "background-color: silver;"; // Silver for 2nd place
                            }
                            else if (context.Rang == 3)
                            {
                                rowColor = "background-color: #cd7f32;"; // Bronze for 3rd place
                            }
                        }
                        <MudTd Style="@rowColor">@context.Rang</MudTd>
                        <MudTd Style="@rowColor">@context.GruppenID</MudTd>
                        <MudTd Style="@rowColor">@context.Gruppenname</MudTd>
                        <MudTd Style="@rowColor">@context.GruppenleiterId</MudTd>
                        <MudTd Style="@rowColor">@context.Teilnehmertyp</MudTd>
                        <MudTd Style="@rowColor">@context.AbgeschlosseneLevel</MudTd>
                        <MudTd Style="@rowColor">@context.AnzahlLevel</MudTd>
                        <MudTd Style="@rowColor">@context.GesamtFehlversuche</MudTd>
                        <MudTd Style="@rowColor">@context.MaxBenötigteZeit?.ToString(@"hh\:mm\:ss")</MudTd>
                        <MudTd Style="@rowColor">@context.GebrauchteZeit?.ToString(@"hh\:mm\:ss")</MudTd>
                    </RowTemplate>
                    <PagerContent>
                        <MudTablePager PageSizeOptions="new int[] { 10, 25, 50 }" />
                    </PagerContent>
                </MudTable>
            </MudItem>

        </MudGrid>
    }
    else
    {
        <MudText>Lade...</MudText>
    }
}