@page "/my-events"
@rendermode InteractiveServer
@using System.ComponentModel.DataAnnotations
@inject NavigationManager NavigationManager
@inject EmailSender EmailSender
@inject IdentityRedirectManager RedirectManager
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@using System.Text
@using System.Text.Encodings.Web
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.WebUtilities
@using MySqlConnector
@using VCC_Projekt.Data
@using Microsoft.AspNetCore.Components.Forms;
@using System;
@using Microsoft.AspNetCore.Authorization;
@attribute [Authorize]

<PageTitle>Meine Events</PageTitle>

<div class="text-center">
    <h1 class="display-4 font-weight-bold" style="color: #134883">Meine Events</h1>
</div>

@if (events == null)
{
    <div class="text-center">
        <p>Lade Events...</p>
    </div>
}
else if (events.Count == 0)
{
    <div class="text-center">
        <p>Du hast dich für keine Events angemeldet.</p>
    </div>
}
else
{
    <MudContainer MaxWidth="MaxWidth.False">
        <MudGrid Justify="Justify.Center">

            <MudItem xs="10">
                <div class="text-center">
                    <MudButton OnClick="() => ShowPastEvents()" Color="Color.Primary" StartIcon="@Icons.Material.Filled.AccessTime">Vergangene Events</MudButton>
                    <MudButton OnClick="() => ShowUpcomingEvents()" Color="Color.Primary" StartIcon="@Icons.Material.Filled.AccessTime">Zukünftige Events</MudButton>

                    @if (filteredEvents.Count == 0 && isUpcomingEventsActive)
                    {
                        <p>Du hast dich für kein zufünftiges Event angemeldet. Entdecke hier kommende Events.</p>
                    }

                    @if (filteredEvents.Count == 0 && isPastEventsActive)
                    {
                        <p>Du hast noch kein Event absolviert.</p>
                    }
                </div>
            </MudItem>

            <MudItem xs="10">
                @foreach (var eventItem in filteredEvents.OrderBy(e => e.Beginn))
                {
                    selectedEventId = eventItem.EventID;
                    var userGroup = userGroups.FirstOrDefault(g => g.Event_EventID == eventItem.EventID);
                    if (userGroup == null) continue;

                    bool isGroupLeader = userGroup?.GruppenleiterId == usernameLoggedInUser;
                    bool canDeleteGroup = isGroupLeader && userGroup.UserInGruppe.Count == 1;
                    bool canAddMember = isGroupLeader && userGroup.UserInGruppe.Count < 4;

                    var eventEndTime = eventItem.Beginn.AddMinutes(eventItem.Dauer);
                    bool eventStarted = eventItem.Beginn <= DateTime.Now;
                    bool isCurrentEvent = eventItem.Beginn <= DateTime.Now && eventEndTime >= DateTime.Now;

                    <MudCard class="mt-3">
                        <MudCardHeader>@eventItem.Bezeichnung</MudCardHeader>
                        <MudCardContent>
                            <MudText><strong>Teilnahmeart: </strong>@userGroup.Teilnehmertyp</MudText>

                            @if (userGroup.Teilnehmertyp == "Team")
                            {
                                <MudText><strong>Teamname: </strong>@userGroup.Gruppenname</MudText>
                            }

                            @if (userGroup.Teilnehmertyp == "Einzelspieler")
                            {
                                <MudText><strong>Benutzername: </strong>@userGroup.GruppenleiterId</MudText>
                            }

                            <MudText><strong>Datum: </strong>@eventItem.Beginn.ToString("d. MMMM yyyy", new System.Globalization.CultureInfo("de-DE"))</MudText>

                            @if(isCurrentEvent)
                            {
                                <MudButton Color="Color.Success" OnClick="() => JoinEvent(eventItem.EventID)">Teilnehmen</MudButton>
                            }

                            @if(!eventStarted)
                            {
                                @if(userGroup.Teilnehmertyp == "Team")
                                {
                                    @if(isGroupLeader)
                                    {
                                        @if (userGroup.UserInGruppe.Count > 1)
                                        {
                                            <MudText><strong>Gruppenmitglieder: </strong></MudText>
                                        }

                                            @foreach (var member in userGroup.UserInGruppe)
                                            {
                                                @if (member.User_UserId != userGroup.GruppenleiterId)
                                                {
                                                    <MudText>
                                                        @member.User_UserId
                                                        <MudButton Color="Color.Error" OnClick="() => RemoveMember(userGroup.GruppenID, member.User_UserId)">Entfernen</MudButton>
                                                    </MudText>
                                                }
                                            }

                                            @foreach (var invitedMember in userGroup.EingeladeneUserInGruppe)
                                            {
                                                <MudText>
                                                    @invitedMember.Email - wurde zur Gruppe eingeladen
                                                    <MudButton Color="Color.Error" OnClick="() => CancelInvitation(userGroup.GruppenID, invitedMember.Email)">Ausladen</MudButton>
                                                </MudText>
                                            }

                                            @if (isAddingMember)
                                            {

                                                    <EditForm Model="@newMember" OnValidSubmit="() => AddMember(userGroup.GruppenID, userGroup.Event_EventID, newMember.Email)" class="w-100">
                                                        <DataAnnotationsValidator />
                                                        <div class="d-flex justify-content-between w-100">
                                                            <MudTextField T="string"  @bind="newMember.Email" Label="E-Mail-Adresse" Variant="Variant.Outlined" Required="true"></MudTextField>
                                                            <MudButton Color="Color.Success" ButtonType="ButtonType.Submit">Hinzufügen</MudButton>
                                                        </div>
                                                        <ValidationMessage For="@(() => newMember.Email)" class="text-danger" />
                                                    </EditForm>

                                            }


                                        @if (canAddMember && !((userGroup.UserInGruppe.Count + userGroup.EingeladeneUserInGruppe.Count) > 4))
                                        {
                                            <MudButton Color="Color.Success" OnClick="() => ShowAddMemberInput()" StartIcon="@Icons.Material.Filled.Add">Mitglied hinzufügen</MudButton>
                                        }

                                        @if (canDeleteGroup)
                                        {
                                            <MudButton Color="Color.Error" OnClick="() => Unregister(eventItem.EventID)" StartIcon="@Icons.Material.Filled.Delete">Gruppe löschen</MudButton>
                                        }
                                    }

                                    else
                                    {
                                        <MudButton Color="Color.Error" OnClick="() => Unregister(eventItem.EventID)" StartIcon="@Icons.Material.Filled.ExitToApp">Gruppe verlassen</MudButton>
                                    }
                                }

                                else if (userGroup.Teilnehmertyp == "Einzelspieler")
                                {
                                    <MudButton Color="Color.Error" OnClick="() => Unregister(eventItem.EventID)" StartIcon="@Icons.Material.Filled.ExitToApp">Abmelden</MudButton>
                                }
                            }

                            else
                            {
                                var rang = dbContext.Set<RanglisteResult>()
                                .FromSqlRaw("CALL ShowRangliste(@eventId)", new MySqlParameter("@eventId", eventItem.EventID))
                                .ToList()
                                .Where(g => g.Gruppenname == userGroup.Gruppenname)
                                .Select(g => g.Rang)
                                .FirstOrDefault();

                                <MudText><strong>Rang: </strong>@(rang == 0 ? "Leider kein Level absolviert" : rang.ToString())</MudText>
                            }

                        </MudCardContent>
                    </MudCard>
                }
            </MudItem>
        </MudGrid>
    </MudContainer>


@*     <div class="text-center">
        <button class="btn @((isPastEventsActive ? "btn-primary" : "btn-success")) me-2" style="margin-top: 10px; margin-bottom: 20px;" @onclick="() => ShowPastEvents()">Vergangene Events</button>
        <button class="btn @((isUpcomingEventsActive ? "btn-primary" : "btn-success")) " style="margin-top: 10px; margin-bottom: 20px;" @onclick="() => ShowUpcomingEvents()">Zukünftige Events</button>
        @if(filteredEvents.Count == 0 && isUpcomingEventsActive)
        {
            <p>Du hast dich für kein zufünftiges Event angemeldet. Entdecke hier kommende Events.</p>
        }

        @if(filteredEvents.Count == 0 && isPastEventsActive)
        {
            <p>Du hast noch kein Event absolviert.</p>
        }
    </div> *@



@*     <div class="row justify-content-center">

        @foreach (var eventItem in filteredEvents.OrderBy(e => e.Beginn))
        {
            selectedEventId = eventItem.EventID;
            var userGroup = userGroups.FirstOrDefault(g => g.Event_EventID == eventItem.EventID);
            if (userGroup == null) continue;

            bool isGroupLeader = userGroup?.GruppenleiterId == usernameLoggedInUser;
            bool canDeleteGroup = isGroupLeader && userGroup.UserInGruppe.Count == 1;
            bool canAddMember = isGroupLeader && userGroup.UserInGruppe.Count < 4;

            var eventEndTime = eventItem.Beginn.AddMinutes(eventItem.Dauer);
            bool eventStarted = eventItem.Beginn <= DateTime.Now;
            bool isCurrentEvent = eventItem.Beginn <= DateTime.Now && eventEndTime >= DateTime.Now;

            <div class="col-md-10">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">@eventItem.Bezeichnung</h5>
                        <p class="card-text"><strong>Teilnahmeart: </strong>@userGroup.Teilnehmertyp</p>

                        @if(userGroup.Teilnehmertyp == "Team")
                        {
                            <p class="card-text"><strong>Teamname: </strong>@userGroup.Gruppenname</p>
                        }

                        @if(userGroup.Teilnehmertyp == "Einzelspieler")
                        {
                            <p class="card-text"><strong>Benutzername: </strong>@userGroup.GruppenleiterId</p>
                        }

                        <p class="card-text"><strong>Datum: </strong>@eventItem.Beginn.ToString("d. MMMM yyyy", new System.Globalization.CultureInfo("de-DE"))</p>

                        @if (isCurrentEvent)
                        {
                            <button class="btn btn-success me-2" @onclick="() => JoinEvent(eventItem.EventID)">Teilnehmen</button>
                        }

                        @if(!eventStarted)
                        {
                            @if(userGroup.Teilnehmertyp == "Team")
                            {

                                @if (isGroupLeader)
                                {
                                    @if(userGroup.UserInGruppe.Count > 1)
                                    {
                                        <p><strong>Gruppenmitglieder: </strong></p>
                                    }

                                    <ul class="list-group mb-2">
                                        @foreach (var member in userGroup.UserInGruppe)
                                        {
                                            @if (member.User_UserId != userGroup.GruppenleiterId)
                                            {
                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    @member.User_UserId
                                                    <button class="btn btn-danger btn-sm" @onclick="() => RemoveMember(userGroup.GruppenID, member.User_UserId)">Entfernen</button>
                                                </li>
                                            }
                                        }

                                        @foreach(var invitedMember in userGroup.EingeladeneUserInGruppe)
                                        {
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                @invitedMember.Email - wurde zur Gruppe eingeladen
                                                <button class="btn btn-danger btn-sm" @onclick="() => CancelInvitation(userGroup.GruppenID, invitedMember.Email)">Ausladen</button>
                                            </li>
                                        }

                                        @if (isAddingMember)
                                        {
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                <EditForm Model="@newMember" OnValidSubmit="() => AddMember(userGroup.GruppenID, userGroup.Event_EventID, newMember.Email)" class="w-100">
                                                    <DataAnnotationsValidator />
                                                    <div class="d-flex justify-content-between w-100">
                                                        <input type="text" @bind="newMember.Email" placeholder="E-Mail-Adresse hinzufügen" class="form-control me-2" />
                                                        <button type="submit" class="btn btn-success btn-sm">Hinzufügen</button>
                                                    </div>
                                                    <ValidationMessage For="@(() => newMember.Email)" class="text-danger" />
                                                </EditForm>
                                            </li>
                                        }
                                    </ul>

                                    @if (canAddMember && !((userGroup.UserInGruppe.Count + userGroup.EingeladeneUserInGruppe.Count) > 4))
                                    {
                                        <button class="btn btn-success me-2" @onclick="() => ShowAddMemberInput()">Mitglied hinzufügen</button>
                                    }

                                    @if (canDeleteGroup)
                                    {
                                        <button class="btn btn-danger me-2" @onclick="() => Unregister(eventItem.EventID)">Gruppe löschen</button>
                                    }
                                }

                                else
                                {
                                    <button class="btn btn-success me-2" @onclick="() => Unregister(eventItem.EventID)">Gruppe verlassen</button>
                                }

                            }

                            else if(userGroup.Teilnehmertyp == "Einzelspieler")
                            {
                                <button class="btn btn-success me-2" @onclick="() => Unregister(eventItem.EventID)">Abmelden</button>
                            }
                        }

                        else
                        {
                            var rang = dbContext.Set<RanglisteResult>()
                                .FromSqlRaw("CALL ShowRangliste(@eventId)", new MySqlParameter("@eventId", eventItem.EventID))
                                .ToList()
                                .Where(g => g.Gruppenname == userGroup.Gruppenname)
                                .Select(g => g.Rang)
                                .FirstOrDefault();

                            <p><strong>Rang: </strong>@(rang == 0 ? "Leider kein Level absolviert" : rang.ToString())</p>
                        }
                    </div>
                </div>
            </div>
        }
    </div> *@
}

<style>
    body {
        background-color: #f8f9fa;
    }

    .btn-success {
        background-color: #134883;
        border-color: #134883;
    }

        .btn-success:hover {
            background-color: #2f5e91;
            border-color: #2f5e91;
        }

    .btn-primary{
        background-color: #2f5e91;
        border-color: #2f5e91;
    }

    h1, h2, h3 {
        color: #134883;
    }

    .card {
        transition: transform 0.2s;
        border: 2px solid #134883;
    }

        .card:hover {
            transform: scale(1.05);
        }

        .card:selected {
            transform: scale(1.05);
        }
</style>
