@page "/signup-event"
@using System.ComponentModel.DataAnnotations
@inject NavigationManager NavigationManager
@inject EmailSender EmailSender
@inject IdentityRedirectManager RedirectManager
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject ApplicationDbContext dbContext
@inject ISnackbar Snackbar

<PageTitle>Event-Anmeldung</PageTitle>

<div class="text-center">
    <MudText Typo="Typo.h2" style="color: #134883;">Anmeldung für @dbContext.Events.Where(e => e.EventID == eventId).First().Bezeichnung</MudText>
    <MudText Typo="Typo.subtitle1">Wähle deine Teilnahmeart und registriere dich für das Event.</MudText> <br />
</div>

<MudContainer MaxWidth="MaxWidth.False">
    <MudGrid Justify="Justify.Center">
        <MudItem xs="10">
            <EditForm Model="@Input" OnValidSubmit="@HandleSubmit" method="post" FormName="eventRegistration">
                <DataAnnotationsValidator />

                <div class="row">
                    <div class="col-md-6">
                        <div class="card participation-card" @onclick="() => Input.ParticipationType = ParticipationTypeTeam">
                            <div class="card-body text-center">
                                <h3 class="card-title">#Team</h3>
                                <MudText class="card-text">Bildet ein Team aus 2 bis 5 Personen und tretet zusammen an.</MudText>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card participation-card" @onclick="() => Input.ParticipationType = ParticipationTypeSingle">
                            <div class="card-body text-center">
                                <h3 class="card-title">#Single</h3>
                                <MudText class="card-text">Melde dich alleine an und zeig, was du drauf hast.</MudText>
                            </div>
                        </div>
                    </div>
                </div>


                @if (Input.ParticipationType == ParticipationTypeTeam)
                {
                    <div class="mt-4">
                        <MudText Typo="Typo.h6" style="color: #134883">#Team</MudText>
                        <MudText Typo="Typo.subtitle2">
                            Um als Team am Event teilzunehmen, erstellst du eine Gruppe mit einem Teamnamen und wirst dadurch Gruppenmanager. Anschließend fügst du die E-Mail-Adressen der Teammitglieder hinzu. <br />
                            Jede hinzugefügte Person erhält automatisch eine Einladung per E-Mail. Sobald diese bestätigt wird, ist er/sie offiziell Teil des Teams.
                        </MudText> <br />
                    </div>

                    <MudTextField @bind-Value="Input.Username" Label="Gruppenmanager" Disabled="true" Variant="Variant.Outlined"></MudTextField>

                    <MudTextField @bind-Value="Input.TeamName" Label="Teamname" Variant="Variant.Outlined"></MudTextField>


                    <div class="mb-3">
                        <br />
                        <MudText Typo="Typo.subtitle1">Teammitglieder hinzufügen (@Input.TeamMembers.Count/4)</MudText>
                        @if (Input.TeamMembers.Count < 4)
                        {
                            foreach (var email in Input.TeamMembers)
                            {
                                <div class="input-group mb-2">
                                    <MudTextField T="string" Value="@email" Variant="Variant.Outlined" Disabled />
                                    <MudButton Color="Color.Error" type="button" @onclick="() => RemoveMember(email)">Entfernen</MudButton>
                                </div>
                            }

                            <div class="input-group">
                                <MudTextField @bind-Value="Input.NewMemberEmail" Label="E-Mail-Adresse hinzufügen" Variant="Variant.Outlined" />
                                <MudButton Color="Color.Success" type="button" @onclick="AddMember" disabled="@(!CanAddMember())">Hinzufügen</MudButton>
                            </div>
                        }

                        else
                        {
                            foreach (var email in Input.TeamMembers)
                            {
                                <div class="input-group mb-2">
                                    <MudTextField T="string" Value="@email" Variant="Variant.Outlined" Disabled />
                                    <MudButton Color="Color.Error" type="button" @onclick="() => RemoveMember(email)">Entfernen</MudButton>
                                </div>
                            }

                            <MudText>Maximale Anzahl von Teammitgliedern erreicht.</MudText>
                        }
                    </div>
                }

                @if (Input.ParticipationType == ParticipationTypeSingle)
                {
                    <div class="mt-4">
                        <MudText Typo="Typo.h6" style="color: #134883">#Single</MudText>
                        <MudText Typo="Typo.subtitle2">
                            Um als Einzelkämpfer am Event teilzunehmen, überprüfe deinen Benutzernamen, um sicherzugehen, unter welchem Namen du antrittst und bestätige deine Teilnahme.
                        </MudText> <br />
                    </div>

                    <MudTextField @bind-Value="Input.Username" Label="Benutzername" Disabled="true" Variant="Variant.Outlined"></MudTextField>
                }

                <div class="text-center mt-5">
                    <MudButton ButtonType="ButtonType.Submit" Color="Color.Success" Variant="Variant.Filled">Anmelden</MudButton>
                </div>
            </EditForm>
        </MudItem>

        <MudItem xs="10">
            <div class="text-center">
                <a class="btn btn-link" href="events">Zurück zu den Events</a>
            </div>
        </MudItem>
    </MudGrid>
</MudContainer>

<style>
    body {
        background-color: #f8f9fa;
    }

    .btn-success {
        background-color: #134883;
        border-color: #134883;
    }

        .btn-success:hover {
            background-color: #2f5e91;
            border-color: #2f5e91;
        }

    h1, h2, h3 {
        color: #134883;
    }

    .form-control {
        border: 2px solid #134883;
    }

        .form-control:focus {
            border-color: #2f5e91;
            box-shadow: 0 0 5px rgba(47, 94, 145, 0.5);
        }

    .card {
        transition: transform 0.2s;
        border: 2px solid #134883;
    }

        .card:hover {
            transform: scale(1.05);
        }

        .card:selected {
            transform: scale(1.05);
        }

</style>